{% extends 'admin_layout.html' %}
{% load static %}
{% block content %}
<head>
    <style>

        .container{
            height: 300px;
            width:300px;
        }
    </style>
</head>
<article>
    <div class="container"><br>
        <h2>ADD QUIZ</h2><br>
        <form action="/after_add_quiz/dashboard/" method="POST">
            {% csrf_token %}
            <div class="field_wrapper">
                <label for="quiz_name">QUIZ NAME:</label><br>
                <input type="text" id="quiz_name" name="quiz_name" placeholder="Name must be unique" required="required">
                <span id='message'></span><br><br>
                <label for="subject">SUBJECT</label><br>
                <select id="subject" name="subject">
                    <option value="tamil">TAMIL</option>
                    <option value="english">ENGLISH</option>
                    <option value="maths">MATHS</option>
                    <option value="science">SCIENCE</option>
                    <option value="social">SOCIAL</option>
                </select><br><br>
                <div class="hide">
                    <label for="tot_question">Total question</label>
                    <input id="totalQuestions" type="text" name="tot_question" class="key_type"><br>
                </div>
                <div>
                    <label for="question">QUESTION 1: </label>
                    <input type="text" name="question0" required="required"><br>
                    <label for="option1">OPTION1</label>
                    <input type="text" name="option0" id="option0" required="required"><br>
                    <label for="option2">OPTION2</label>
                    <input type="text" name="optio0" required="required"><br>
                    <label for="option3">OPTION3</label>
                    <input type="text" name="opti0" required="required"><br>
                    <label for="option4">OPTION4</label>
                    <input type="text" name="opt0" required="required"><br>
                    <label for="answer">ANSWER</label>
                    <input type="text" name="answer0" required="required"><br>
                    <a href="javascript:void(0);" class="add_button" title="Add field">ADD</a><br><br>
                </div>
            </div>
            <button class="btn btn-primary"> SUBMIT</button>
        </form>
    </div>
</article>

<script type="text/javascript">

    $(document).ready(function(){
        var maxField = 10 //Maximun no of input fied
        var addButton = $('.add_button'); //Add button selector
        var wrapper = $('.field_wrapper'); //Input field wrapper
        var x = 1; //Initial field counter is 1
        document.getElementById('totalQuestions').value = x;
        
        //Once add button is clicked
        $(addButton).click(function(){
            //Check maximum number of input fields
            if(x < maxField){ 
                var fieldHTML = '<div><label for="question">QUESTION'+ Number(x+1) +': </label><input type="text" name="question'+x+'" required="required"><br><label for="option1">OPTION1</label><input type="text" name="option'+x+'" required="required"><br><label for="option2">OPTION2</label><input type="text" name="optio'+x+'" required="required"><br><label for="option3">OPTION3</label><input type="text" name="opti'+x+'" required="required"><br><label for="option4">OPTION4</label><input type="text" name="opt'+x+'" required="required"><br><label for="answer">ANSWER</label><input type="text" name="answer'+x+'" required="required"><br><a href="javascript:void(0);" class="remove_button">Remove</a></div>';
                x++; //Increment field counter
                $(wrapper).append(fieldHTML); //Add field html
                document.getElementById('totalQuestions').value = x;
            }
        });
        
        //Once remove button is clicked
        $(wrapper).on('click', '.remove_button', function(e){
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });
    });
</script>



{% endblock %}




    