{% extends "layout.html" %}
{% load static %}
{% block content %}
<head>
  <style>
     article{
          background-color:lightskyblue;
          background-attachment: fixed;
     }
    .container{

      width:300px;
      height:300px;
      margin:0 auto;
    }
    .input-field {
      margin-bottom: 1.5rem;
      border-radius: 5px;
    }
  </style>
</head>
<article>
  <div class="container">
    <h2>STUDENT SIGNUP</h2><br>
    <form action="/student_register/" method="POST">
      {% csrf_token %}
      <input type="text" class="input-field" name="fname" required="required" placeholder="First Name"/><br>
      <input type="text" class="input-field" name="lname" required="required" placeholder="Last Name"/><br>
      <input type="text" class="input-field" name="email" required="required" placeholder="EmailId"/><br>
      <input name="password" class="input-field" id="password" type="password" required="required" onkeyup='check();' placeholder="Password"/><br>
      <input type="password" class="input-field" name="confirm_password" id="confirm_password" required="required"  onkeyup='check();' placeholder="Confirm Password"/><br>
      <span id='message'></span><br>
      <button class="btn btn-dark">REGISTER</button><br>
    </form>
    <p>*If you already registered go to login</p>
    <form action="/student_login/" method="GET">
      {% csrf_token %}
      <button class="btn btn-dark">LOGIN</button>
    </form>
  </div>
</article>
<script>
  var check = function() {
    if (document.getElementById('password').value ==
         document.getElementById('confirm_password').value) {
         document.getElementById('message').style.color = 'green';
         document.getElementById('message').innerHTML = 'matching';
    } else {
         document.getElementById('message').style.color = 'red';
         document.getElementById('message').innerHTML = 'not matching';
    }
  }
</script>
{% endblock %}
